* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}

body {
    background-color: #000000;
    /* overflow: hidden; */
}

#experience{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.experience-canvas{
    width: 100%;
    height: 100%;
}

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 0rem 2rem;
}

.title {
    font-size: 2rem;
    font-weight: 700;
}

.subtitle {
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (max-width: 576px) {
    .title {
        font-size: 1.75rem;
    }
    
    .subtitle {
        font-size: 0.75rem;
    }
}